{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row-fluid">
	<div class="col-md-4 text-center">
		<input type="text" value="{{ incomplete_task_count }}" class="dial" data-readOnly=true>
		<h3><small>Incomplete Tasks</small></h3>
	</div>
	<div class="col-md-4 text-center">
		<input type="text" value="{{ unreviewed_tasks_count }}" class="dial" data-fgColor="#666666" data-readOnly=true>
		<h3><small>Unreviewed Tasks<small></h3>
	</div>
	<div class="col-md-4 text-center">
		<input type="text" value="{{completed_tasks}}" class="dial" data-fgColor="#66CC66" data-readOnly=true>
		<h3><small>Completed Tasks<small></h3>
	</div>
	<div class="clearfix"></div>
	<br><br>
	<div class="col-md-12">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tasks By Status</h3>
				</div>
				<div class="panel-body">
					<div class="status_chart" style="height:300px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tasks By Model</h3>
				</div>
				<div class="panel-body">
					<div class="module_chart" style="height:300px"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	var urls = {
		report_json_url : "{% url 'task_by_status_json' %}"
	}
</script>
<script src="{% static 'js/jquery_knob/jquery.knob.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
{% endblock %}




